{% use 'form_div_layout.html.twig' %}

{%- block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="alert-error">
        {%- for error in errors -%}
            {{ error.message }}<br />
        {%- endfor -%}
        </div>
    {%- endif -%}
{%- endblock form_errors -%}

{% block form_row %}
    <div class="form-block">{{ form_label(form) }}{{ form_widget(form) }}</div>
{% endblock %}