{% use '/Form/form_general_layout.html.twig' %}

{% block form %}
    <section class="section-form">
        {{ form_start(form) }}

        {{ form_errors(form) }}

        <div class="form-fields">
            {{ form_row(form.username) }}
        </div>

        <button type="submit"><span>Valider</span></button>

        {{ form_end(form) }}
    </section>
{% endblock %}