{% extends 'base.html.twig' %}

{% block title %}Page de connexion{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/build/css/security/connection.css">
{% endblock %}

{% block body %}
    <div id="group-button-form">
        <div id="group-button">
            <button class="button-security active">Connexion</button>
            <button class="button-security"><a href="/enregistrement">Enregistrement</a></button>
        </div>

        <h1>Connexion à votre compte utilisateur</h1>
        <p>Vous connecter vous permet d'accéder à votre profil utilisateur et à la gestion des tricks.</p>

        {% form_theme form 'Form/security_user_connection.html.twig' %}
        {{ form(form) }}

        <p><a href="/recuperation">Mot de passe oublié ?</a></p>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
