{% extends 'base.html.twig' %}

{% block title %}Récupération du mot de passe{% endblock %}

{% block body %}
    <div id="group-button-form">
        {% block passwordRecoveryExtension %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
