{% extends 'base.html.twig' %}

{% block title %}Récupération du mot de passe{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
    <h1>Récupération du mot de passe</h1>

    {% block passwordRecoveryExtension %}{% endblock %}
{% endblock %}

{% block javascripts %}

{% endblock %}
