{% extends 'base.html.twig' %}

{% block title %}Récupération du mot de passe{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/security/formFrame.css') }}">
{% endblock %}

{% block body %}
    <div id="group-button-form">
        {% block passwordRecoveryExtension %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}
