@import "../style/variables";

//Header
$homeH1FontSize: 8vw;
$homeH1TextShift: 1vw;
$homeH1TextBlurring: 0.5vw;

//Section
$homeSectionPadding: 0 3vw;

//Article
$homeSectionArticleWidthFlexCard-L: 31%;
$homeSectionArticleWidthFlexCard-M: 48%;
$homeSectionArticleWidthFlexCard-S: 100%;
$homeSectionArticleMarginSize: 1%;
$homeSectionArticlePaddingSize: 15px;
$homeSectionArticleBorderCardWidth: 1px;
$homeSectionArticleBorderCardStyle: solid;
$homeSectionArticleBorderRadiusCard: 10px;

//Button
$homeSectionArticleButtonPadding: 15px;
$homeSectionArticleButtonTransition: 0.2s;
$homeSectionArticleButtonBorderRadius: 8px;

h1 {
  font: {
    size: $homeH1FontSize;
    family: $titleFont;
    weight: bold;
  }

  span {
    position: relative;
    font-weight: bold;
    top: $homeH1TextShift * -1;
    right: $homeH1TextShift * -1;
    text-shadow: $homeH1TextShift * -1 $homeH1TextShift $homeH1TextBlurring $grey05;
  }
}

#section-home {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: auto;
  padding: $homeSectionPadding;

  article {
    flex-basis: $homeSectionArticleWidthFlexCard-L;

    @media screen and (max-width: $medium) and (min-width: $small) {
      flex-basis: $homeSectionArticleWidthFlexCard-M;
    }

    @media screen and (max-width: $small) {
      flex-basis: $homeSectionArticleWidthFlexCard-S;
    }

    margin: $homeSectionArticleMarginSize;
    border: $homeSectionArticleBorderCardWidth $homeSectionArticleBorderCardStyle $grey04;
    border-radius: $homeSectionArticleBorderRadiusCard;
    background-color: $white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    header {
      position: relative;

      a {
        img {
          border-radius: $homeSectionArticleBorderRadiusCard $homeSectionArticleBorderRadiusCard 0 0;
        }
      }

      .optionsButtons {
        position: absolute;
        top: 5px;
        right: 5px;
        display: flex;

        a {
          border-radius: 50%;
          width: 40px;
          height: 40px;
          border: none;
          cursor: pointer;
          text-decoration: none;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 5px;

          &.delete {
            background-color: $red;

            &:hover {
              background-color: $redHover;
            }
          }

          &.modify {
            background-color: $orange;

            &:hover {
              background-color: $orangeHover;
            }
          }
        }
      }
    }

    section {
      padding: $homeSectionArticlePaddingSize;
    }

    footer {
      display: flex;
      justify-content: flex-end;

      a {
        text-decoration: none;
        color: $black;
        width: 100%;

        button {
          width: 100%;
          border: none;
          border-radius: 0 0 $homeSectionArticleButtonBorderRadius $homeSectionArticleButtonBorderRadius;
          background-color: $blue;
          padding: $homeSectionArticleButtonPadding;
          -webkit-transition: $homeSectionArticleButtonTransition;
          -moz-transition: $homeSectionArticleButtonTransition;
          -o-transition: $homeSectionArticleButtonTransition;
          transition: $homeSectionArticleButtonTransition;
          cursor: pointer;
          font-weight: bold;

          &:hover {
            background-color: $blueLight;
          }
        }
      }
    }
  }
}
