@import "new";

.section-form {
  #elements {
    display: flex;
    flex-wrap: wrap;

    .entityElements {
      flex-basis: 20%;
      position: relative;

      .btn-delete {
        @extend %btnDelete;
      }
    }
  }
}