@import "../style/color";
@import "../style/font";
@import "../style/mixin";
@import "../style/variables";

/* VARIABLES */
//=======================================================

//Titles
$titlesFontFamily: $titleFont;

//Section show
$showSectionPadding: 0 30px;

//Header section title 1
$headerTitle1Width: 100%;
$headerTitle1TopPosition: 20px;
$headerTitle1Margin: 0 auto;
$headerTitle1FontSize: 6.5vw;

//Article

//Article section title 2
$articleTitle2MarginTop: 0;

//Article section title 3
$articleTitle3TextAlign: left;

//Pseudo element
@mixin pseudoElement($position) {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, $totallyTransparent, $black, $totallyTransparent);

  @if ($position == "top") {
    margin-top: 15px;
  } @else if ($position == "bottom") {
    margin-bottom: 15px;
  }
}

//Pictures

//Pictures div container
$articlePicturesContainerFlexBasis-L: 25%;
$articlePicturesContainerFlexBasis-M: 33%;
$articlePicturesContainerFlexBasis-S: 50%;
$articlePicturesContainerPadding: 5px;
$articlePicturesContainerCursor: Pointer;

//Picture span vertical align helper
%helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

//Picture vertical align with helper
%imgWithHelper {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: -4px;
}

//Videos

//Video container
$containerPerLine-M: 2;
$articleVideoContainerFlexBasis-M: 100% / $containerPerLine-M;
$articleVideoContainerPaddingBottom-M: 56.25% / $containerPerLine-M;

$containerPerLine-S: 1;
$articleVideoContainerFlexBasis-S: 100% / $containerPerLine-S;
$articleVideoContainerPaddingBottom-S: 56.25% / $containerPerLine-S;

$articleVideoContainerPaddingTop: 30px;
$articleVideoContainerHeight: 0;
$articleVideoContainerOverflow: hidden;
$articleVideoIframeTop: 0;
$articleVideoIframeLeft: 0;
$articleVideoIframeWidth: 100%;
$articleVideoIframeHeight: 100%;

//Section footer

//Footer section
$footerSectionJustifyContent: space-around;
$footerSectionMargin: 15px 0;

//Footer section div and label
$footerSectionDivPadding: 7px;
$footerSectionDivBorderRadius: 15px;

//Section com
$sectionComMarginTop: 50px;

//Comment
$sectionComCommentMargin: 20px 0;
$sectionComPadding: 5px;

//Header title
$sectionComCommentTitleAndDateMargin: 0;
$sectionComCommentTitleFontSize: 1.2em;

//Footer
$footerPageMarginTop: 0;

//Date
$sectionComCommentDateFontSize: 0.8em;

/* CSS */
//========================================================

#section-show {
  @extend %sectionStyle;

  header {
    position: relative;

    h1 {
      position: absolute;
      background: linear-gradient(to right, $whiteTransparent, $white, $whiteTransparent);
      width: $headerTitle1Width;
      top: $headerTitle1TopPosition;
      font-family: $titleFont;
      margin: $headerTitle1Margin;
      display: inline;
      font-size: $headerTitle1FontSize;
    }
  }

  article {
    p {
      padding: $showSectionPadding;
    }

    h2 {
      margin-top: $articleTitle2MarginTop;
      font-family: $titlesFontFamily;

      &::before {
        @include pseudoElement("bottom");
      }
    }

    h3 {
      text-align: $articleTitle3TextAlign;
      padding: $showSectionPadding;
      font-family: $titlesFontFamily;
    }

    #show-pictures {
      display: flex;
      flex-wrap: wrap;

      .thumbnail-pic {
        flex-basis: $articlePicturesContainerFlexBasis-L;

        @media screen and (max-width: $medium) and (min-width: $small) {
          flex-basis: $articlePicturesContainerFlexBasis-M;
        }

        @media screen and (max-width: $small) {
          flex-basis: $articlePicturesContainerFlexBasis-S;
        }

        padding: $articlePicturesContainerPadding;
        box-sizing: border-box;
        cursor: $articlePicturesContainerCursor;
        white-space: nowrap;

        .helper {
          @extend %helper;
        }

        img {
          @extend %imgWithHelper;
        }
      }
    }

    #video-container {
      display: flex;
      flex-wrap: wrap;

      .video-containers {
        flex-basis: $articleVideoContainerFlexBasis-M;
        padding-bottom: $articleVideoContainerPaddingBottom-M;

        @media screen and (max-width: $small) {
          flex-basis: $articleVideoContainerFlexBasis-S;
          padding-bottom: $articleVideoContainerPaddingBottom-S;
        }

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        padding-top: $articleVideoContainerPaddingTop;
        height: $articleVideoContainerHeight;
        overflow: $articleVideoContainerOverflow;

        iframe {
          position: absolute;
          top: $articleVideoIframeTop;
          left: $articleVideoIframeLeft;
          width: $articleVideoIframeWidth;
          height: $articleVideoIframeHeight;
        }
      }
    }

    &::after {
      @include pseudoElement("top");
    }
  }

  footer {
    display: flex;

    @media screen and (max-width: $medium) {
      flex-direction: column;
    }

    justify-content: $footerSectionJustifyContent;
    margin: $footerSectionMargin;

    div {
      background-color: $khaki;
      padding: {
        top: $footerSectionDivPadding;
        right: $footerSectionDivPadding;
        bottom: $footerSectionDivPadding;
        left: 0;
      }

      @media screen and (max-width: $medium) {
        margin: 10px;
      }

      border-radius: $footerSectionDivBorderRadius;

      .label {
        background-color: $blue;
        color: $black;
        padding: $footerSectionDivPadding;
        border-radius: $footerSectionDivBorderRadius;
      }
    }
  }
}

#section-com {
  @extend %sectionStyle;

  margin-top: $sectionComMarginTop;

  h2 {
    font-family: $titlesFontFamily;
  }

  #comments {
    display: flex;
    padding: $showSectionPadding;
    flex-direction: column;

    .comment {
      margin: $sectionComCommentMargin;
      border: 1px solid $greyTransparent;

      header {
        background-color: $blueDark;
        padding: $sectionComPadding;
        color: $white;

        img {
          display: inline-block;
          vertical-align: middle;
          width: auto;
          height: 40px;
          margin: 1px;
          border-radius: 50%;
        }

        h5 {
          margin: $sectionComCommentTitleAndDateMargin;
          text-align: left;
          font-size: $sectionComCommentTitleFontSize;
          font-weight: bold;
          display: inline-block;
          vertical-align: middle;
        }
      }

      section {
        padding: $sectionComPadding;
      }

      footer {
        display: flex;
        justify-content: space-between;
        background-color: $grey02;

        p {
          padding-left: 15px;
          font-size: 12px;
        }

        div {

          a {
            text-decoration: none;
            padding: 13px 25px;

            @media screen and (max-width: $small) {
              border-radius: 50%;
              padding: 5px;
              margin: 2px;
            }
          }

          .update {
            background-color: $orange;

            &:hover {
              background-color: $orangeHover;
            }
          }

          .delete {
            background-color: $red;

            &:hover {
              background-color: $redHover;
            }
          }
        }
      }
    }
  }
}

#footer {
  margin-top: $footerPageMarginTop;
}

#modalWindows {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $black;

  @media screen and (min-width: $small) {
    margin-top: 60px;
  }

  p {
    margin: 0;
    text-align: right;

    @media screen and (max-width: $small) {
      position: absolute;
      bottom: 0;
    }

    #close {
      color: $white;
      cursor: pointer;
      font-size: 2em;
      font-weight: bold;
    }
  }

  #modal-content {
    width: 50%;
    @media screen and (max-width: $small) {
      width: 100%;
    }

    max-width: 1200px;
    padding: 0;
    margin: auto;

    #display-picture {
      position: relative;

      .slide {
        display: none;

        img {
          width: 100%;
        }

        .number {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          text-align: center;
          font-size: 1.5em;
          background: linear-gradient(to right, $whiteTransparent, $white, $whiteTransparent);
        }
      }

      .router {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 250;

        button {
          width: 15%;
          height: 30%;
          cursor: pointer;
          background-color: $totallyTransparent;
          font-size: 3em;
          border: none;
          color: $greyBlackHover;

          &:hover {
            background-color: $greyTransparent;
          }
        }
      }
    }

    #thumbnails {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      z-index: 500;

      .thumbnail {
        flex-basis: 20%;
        align-items: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 2px;
        cursor: pointer;
        white-space: nowrap;

        .helper {
          @extend %helper;
        }

        img {
          @extend %imgWithHelper;
        }
      }
    }
  }
}
