//Color palette
//========================================================

// General
$red: #f04546;
$redHover: #f01f29;
$green: #15c26b;
$orange: #ff9c41;
$orangeHover: #ff9112;
$blue: #02b3e4;
$blueDark: #0083b2;
$blueLight: #64e5ff;
$khaki: #b1a513;
$khakiLight: #e6d64d;
$khakiDark: #7e7700;
$white: #fffaf5;
$black: #00050a;

// Grey palette
$grey01: #f0f0f0;
$grey02: #d7d7d9;
$grey03: #a0a2a9;
$grey04: #5f6674;
$grey05: #4b4b4b;

$greyAlu: #ced4da;
$greyBlue: #365375;
$greyBlueLight: #407a97;
$greyBlueDark: #00263e;
$greyBlack: #323944;
$greyBlackHover: #1c202b;

// Transparent color
$blackTransparent: rgba(0,0,0,0.1);
$whiteTransparent: rgba(255,255,255,0.1);
$greyTransparent: rgba(200,200,200,0.5);
$totallyTransparent: rgba(255,255,255,0);
