@import "color";
@import "font";

/* CORE */
//========================================================
  //Limits
  $small: 740px;
  $medium: 1024px;

  //FlashMessage
  $flashMessagePadding: 20px 25px;

/* GLOBAL */
//========================================================

$navHeight-M: 60px;
$navHeight-S: 100vh;

/* GLOBAL */
//========================================================

%sectionStyle {
  width: 80%;
  margin: auto;
  background-color: $grey01;
  border: 1px solid $grey03;
  box-sizing: border-box;

  @media screen and (max-width: $medium) and (min-width: $small) {
    width: 90%;
  }

  @media screen and (max-width: $small) {
    width: 100%;
    border: none;
  }
}

%btnDelete {
  position: absolute;
  top: 10px;
  right: 20px;
  text-decoration: none;
  background-color: $red;
  color: $white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
