@import "color";
@import "font";

/* CORE */
//========================================================
  //Limits
  $small: 740px;
  $medium: 1024px;

  //FlashMessage
  $flashMessagePadding: 20px 25px;

/* GLOBAL */
//========================================================

$navHeight-M: 60px;
$navHeight-S: 100vh;

/* SHOW - NEW */
//========================================================

//Section
%sectionStyle {
  width: 80%;
  margin: auto;
  background-color: $grey01;
  border: 1px solid $grey03;
  box-sizing: border-box;

  @media screen and (max-width: $medium) and (min-width: $small) {
    width: 90%;
  }

  @media screen and (max-width: $small) {
    width: 100%;
    border: none;
  }
}