@import "style/variables";

//Form frame
$frameBorderWidth: 1px;
$frameBorderStyle: solid;
$frameWidth: 35%;
$frameMargin: 0 auto;

//Button form frame
$buttonFramePadding: 14px 16px;
$buttonFrameFontSize: 17px;
$buttonFrameTransitionTime: 0.2s;

//Section form
$sectionFormMargin: 0 auto 20px auto;
$sectionFormPadding: 10px 30px;

//Form
$formMargin: 5px 0;
$formPadding: 6px 12px;
$formFontSize: 1rem;
$formLineHeight: 1.5;

//Fields
$fieldTransition: .15s ease-in-out;
$fieldFontColor: $greyBlue;
$fieldBGColor: $white;
$fieldBorder: 1px solid $greyAlu;
$fieldBorderRadius: 5px;
$fieldBorderFocus: 1px solid $greyBlack;
$fieldBoxShadowFocus: 0 0 10px $greyBlack;
$fieldBGColorFocus: $grey01;

//Button
$formButtonBorderRadius: 5px;
$formButtonWidth: 100%;
$formButtonPadding: 0.7em 4em;
$formButtonMarginTop: 5px;
$formButtonShadowSize: 12px 15px 20px;
$formButtonShadowSizeHover: 2px 4px 8px;
$formButtonTransition: 0.2s ease-in-out;

//H1 form frame
$h1FrameMargin: 20px 0;
$h1FrameFontSize: 1.8em;

.section-form {
  margin: $sectionFormMargin;
  padding: $sectionFormPadding;

  form {
    text-align: right;

    .form-fields {
      display: flex;
      flex-direction: column;

      .field-group {
        display: flex;
        justify-content: space-between;

        .form-control {
          width: 43%;
        }

        div {
          width: 100%;
          display: flex;
          justify-content: space-between;

          .form-block {
            width: 48%;

            input {
              width: 100%;
            }
          }
        }
      }

      .form-control {
        display: block;
        margin: $formMargin;
        padding: $formPadding;
        font-size: $formFontSize;
        line-height: $formLineHeight;

        color: $fieldFontColor;
        background-color: $fieldBGColor;
        background-clip: padding-box;
        border: $fieldBorder;
        border-radius: $fieldBorderRadius;
        -webkit-transition: $fieldTransition;
        -moz-transition: $fieldTransition;
        -o-transition: $fieldTransition;
        transition: $fieldTransition;

        &:focus {
          outline: none;
          border: $fieldBorderFocus;
          box-shadow: $fieldBoxShadowFocus;
          background-color: $fieldBGColorFocus;
        }
      }
    }

    button{
      cursor: pointer;
      background-color: $blue;
      border-radius: $formButtonBorderRadius;
      border: none;
      width: $formButtonWidth;
      color: $black;
      padding: $formButtonPadding;
      margin-top: $formButtonMarginTop;
      -webkit-box-shadow: $formButtonShadowSize $blackTransparent;
      -moz-box-shadow: $formButtonShadowSize $blackTransparent;
      box-shadow: $formButtonShadowSize $blackTransparent;
      -webkit-transition: $formButtonTransition;
      -moz-transition: $formButtonTransition;
      -o-transition: $formButtonTransition;
      transition: $formButtonTransition;
      font-size: $formFontSize;
      font-weight: bold;

      &:hover, &:active {
        box-shadow: $formButtonShadowSizeHover $blackTransparent;
        background-color: $blueLight;
      }

      span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    input, textarea {
      font-family: $baseFont;
    }
  }
}

#new_trick_pictures, #new_trick_videos, #trick_modification_newPictures, #trick_modification_newVideos {
  .collection-block {
    div {
      div {
        width: 100%;
        
        .form-block {
          display: flex;
          flex-direction: column;
          align-items: self-start;
          width: 100%;

          input, textarea {
            width: 100%;
          }
        }
      }
    }
  }
}

#gcu-group {
  margin-top: 5px;
  display: flex;

  input {
    margin-right: 10px;
  }
}
