/* CORE */
/* GLOBAL */
/* SHOW - NEW */
.section-form {
  margin: 0 auto 20px auto;
  padding: 10px 30px; }
  .section-form form {
    text-align: right; }
    .section-form form .form-fields {
      display: flex;
      flex-direction: column; }
      .section-form form .form-fields .field-group {
        display: flex;
        justify-content: space-between; }
        .section-form form .form-fields .field-group .form-control {
          width: 43%; }
        .section-form form .form-fields .field-group div {
          width: 100%;
          display: flex;
          justify-content: space-between; }
          .section-form form .form-fields .field-group div .form-block {
            width: 48%; }
            .section-form form .form-fields .field-group div .form-block input {
              width: 100%; }
      .section-form form .form-fields .form-control {
        display: block;
        margin: 5px 0;
        padding: 6px 12px;
        font-size: 1rem;
        line-height: 1.5;
        color: #365375;
        background-color: #fffaf5;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 5px;
        -webkit-transition: 0.15s ease-in-out;
        -moz-transition: 0.15s ease-in-out;
        -o-transition: 0.15s ease-in-out;
        transition: 0.15s ease-in-out; }
        .section-form form .form-fields .form-control:focus {
          outline: none;
          border: 1px solid #323944;
          box-shadow: 0 0 10px #323944;
          background-color: #f0f0f0; }
    .section-form form button {
      cursor: pointer;
      background-color: #02b3e4;
      border-radius: 5px;
      border: none;
      width: 100%;
      color: #00050a;
      padding: 0.7em 4em;
      margin-top: 5px;
      -webkit-box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
      box-shadow: 12px 15px 20px rgba(0, 0, 0, 0.1);
      -webkit-transition: 0.2s ease-in-out;
      -moz-transition: 0.2s ease-in-out;
      -o-transition: 0.2s ease-in-out;
      transition: 0.2s ease-in-out;
      font-size: 1rem;
      font-weight: bold; }
      .section-form form button:hover, .section-form form button:active {
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #64e5ff; }
      .section-form form button span {
        display: inline-block;
        vertical-align: middle; }
    .section-form form input, .section-form form textarea {
      font-family: "Raleway", sans-serif; }

#new_trick_pictures .collection-block div div, #new_trick_videos .collection-block div div, #trick_modification_newPictures .collection-block div div, #trick_modification_newVideos .collection-block div div {
  width: 100%; }
  #new_trick_pictures .collection-block div div .form-block, #new_trick_videos .collection-block div div .form-block, #trick_modification_newPictures .collection-block div div .form-block, #trick_modification_newVideos .collection-block div div .form-block {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 100%; }
    #new_trick_pictures .collection-block div div .form-block input, #new_trick_pictures .collection-block div div .form-block textarea, #new_trick_videos .collection-block div div .form-block input, #new_trick_videos .collection-block div div .form-block textarea, #trick_modification_newPictures .collection-block div div .form-block input, #trick_modification_newPictures .collection-block div div .form-block textarea, #trick_modification_newVideos .collection-block div div .form-block input, #trick_modification_newVideos .collection-block div div .form-block textarea {
      width: 100%; }

/*# sourceMappingURL=form.css.map */
