{% extends 'Security/passwordRecovery.html.twig' %}

{% block passwordRecoveryExtension %}
    <h1>Récupération du mot de passe, étape 3/3</h1>
    <p>Merci d'entrer votre nouveau mot de passe.</p>
    <p>Il doit comporter au moins 8 caractères.</p>

    {% form_theme form 'Form/security_user_password_recovery_for_password.html.twig' %}
    {{ form(form) }}
{% endblock %}