{% extends 'Security/passwordRecovery.html.twig' %}

{% block passwordRecoveryExtension %}
    <h1>Récupération du mot de passe, étape 1/3</h1>
    <p>Merci d'entrer votre nom d'utilisateur.</p>

    {% form_theme form 'Form/security_user_password_recovery_for_username.html.twig' %}
    {{ form(form) }}
{% endblock %}