{% extends 'Security/passwordRecovery.html.twig' %}

{% block passwordRecoveryExtension %}
    <p>Un mail a été envoyé à votre adresse mail, merci de cliquer sur le lien fourni afin de modifier votre mot de
        passe.</p>
{% endblock %}