{% extends 'Security/passwordRecovery.html.twig' %}

{% block passwordRecoveryExtension %}
    <h1>Récupération du mot de passe, étape 2/3</h1>
    <p>Un mail a été envoyé à votre adresse mail, merci de cliquer sur le lien fourni afin de modifier votre mot de
        passe.</p>
{% endblock %}