{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}

{% block body %}
    <section>
        <h1>La page que vous demandez est introuvable.</h1>

        <p>Rendez-vous sur la page d'<a href="{{ path('Home') }}">accueil</a> !</p>
    </section>
{% endblock %}

{% block javascripts %}

{% endblock %}
