{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/error/error.css') }}"/>
{% endblock %}

{% block body %}
    <section>
        <h1>Une erreur est survenue sur la page que vous avez demandez.</h1>

        <p>Rendez-vous sur la page d'<a href="{{ path('Home') }}">accueil</a> !</p>
    </section>
{% endblock %}

{% block javascripts %}

{% endblock %}
