{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/build/css/trick/home.css"/>
{% endblock %}

{% block body %}
    <h1>Snow<span>Tricks</span></h1>

    {% if tricks is not empty %}
        <section id="section-home">
            {% include 'Trick/home_load.html.twig' %}
        </section>

        <button id="moreTricks" data-pagingmax="{{ pageNumber }}">Plus de tricks</button>
    {% else %}
        <h2>Désolé, aucune figure n'a été crée ou n'a été publiée.</h2>
    {% endif %}

    <div id="up-button">
        <button class="material-icons" id="button-up">
            arrow_upward
        </button>
    </div>

    <div id="modalElement">
        <div id="modalWindow">
            <header>
                <p>Suppression de la trick</p>
                <button class="material-icons" id="close-modal">close</button>
            </header>
            <section>
                <p>Êtes-vous sûr de vouloir supprimer la trick ?</p>
            </section>
            <footer id="modalWindowFooter">
                <a href="#" id="modal-cancel">Annuler</a>
            </footer>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/build/js/homeAddTricks.js"></script>
    <script type="text/javascript" src="/build/js/upButton.js"></script>
    <script type="text/javascript" src="/build/js/modalWindow.js"></script>
{% endblock %}
