{% extends 'base.html.twig' %}

{% block title %}Snowtricks{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/build/css/trick/home.css"/>
{% endblock %}

{% block body %}
    <h1>Snow<span>Tricks</span></h1>

    {% if tricks is not empty %}
        <h2 id="#tricks">Liste des figures</h2>

        <section id="section-home">
            {% for trick in tricks %}
                <article>
                    <div>
                        <p class="card-description">{{ trick.description }}</p>

                        <footer>
                            <p>
                                <a href="{{ path('Trick_show', {'trickSlug': trick.slug}) }}" class="btn">
                                    Voir la figure
                                </a>
                            </p>
                        </footer>
                    </div>
                </article>
            {% endfor %}
        </section>
    {% else %}
        <h2>Désolé, aucune figure n'a été crée ou n'a été publiée.</h2>
    {% endif %}
{% endblock %}

{% block javascripts %}

{% endblock %}
