{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/trick/new.css') }}"/>
{% endblock %}

{% block body %}
    <section class="section-form">
        <h1>Nouvelle trick</h1>

        {% form_theme form 'Form/trick_new.html.twig' %}
        {{ form(form) }}
    </section>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/collectionTypeNewTrick.js') }}"></script>
{% endblock %}
